<!DOCTYPE html>
<html xmlns:headers="http://www.w3.org/1999/xhtml">
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
<!--        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />-->
        <div class="description">
          {% if product %}
            {% for l in product %}
                    <h5>Наименование: {{ l.name }} <br> Краткая информация: {{ l.description }} <br>
                      <form action="{% url 'create-checkout-session' l.id %}" method="POST">{% csrf_token %}
                        <button type="submit" id="checkout-button">$ {{ l.get_display_prise }}</button>
                      </form>
                    </h5><br>
            {% endfor %}
          {% else %}
              <p>Товары отсутствуют! {{ product }}</p>
          {% endif %}
        </div>
      </div>

    </section>
  </body>
</html>